{% extends "base.html" %}

{% block title %}

Question

{% endblock %}

{% block body %}

		<article id="featured" class="section-wrapper clearfix" data-custom-background-img="/images/other_images/pic17.png" >
          	<div class="content-wrapper clearfix" >            
          		<div class="col-md-12">

		            <center>
			            <form class="form-style validate-form clearfix" action="{{ url_for('question') }}" method="POST" role="form">
				            <div class="col-md-12">
				            	
		            			<h1> Questions </h1>

              					<div class="form-group form-general-error-container"></div>
				                <div class="form-group col-md-12" align="left">
				                	<span style="color:white; font-family:helvetica; font-size:25px;"> {{ form.question1.label }} </span>
				                </div>
				                <div class="form-group col-md-12" align="left">				                
				                  	<span class="form-group" style="color:white; font-family:helvetica; font-size:18px;">
              							{{form.question1 (class_="radiobutton" )}}
           							</span>
           						</div>
           						<div class="form-group col-md-12" align="left">
				                	<span style="color:white; font-family:helvetica; font-size:25px;"> {{ form.question2.label }} </span>
				                </div>
				                <div class="form-group col-md-12" align="left">				                
				                  	<span class="form-group" style="color:white; font-family:helvetica; font-size:18px;">
              							{{form.question2 (class_="radiobutton" )}}
           							</span>
           						</div>
           						<div class="form-group col-md-12" align="left">
				                	<span style="color:white; font-family:helvetica; font-size:25px;"> {{ form.question3.label }} </span>
				                </div>
				                <div class="form-group col-md-12" align="left">				                
				                  	<span class="form-group" style="color:white; font-family:helvetica; font-size:18px;">
              							{{form.question3 (class_="radiobutton" )}}
           							</span>
           						</div>
           						<div class="form-group col-md-12" align="left">
				                	<span style="color:white; font-family:helvetica; font-size:25px;"> {{ form.question4.label }} </span>
				                </div>
				                <div class="form-group col-md-12" align="left">				                
				                  	<span class="form-group" style="color:white; font-family:helvetica; font-size:18px;">
              							{{form.question4 (class_="radiobutton" )}}
           							</span>
           						</div>
           						<div class="form-group col-md-12" align="left">
				                	<span style="color:white; font-family:helvetica; font-size:25px;"> {{ form.question5.label }} </span>
				                </div>
				                <div class="form-group col-md-12" align="left">				                
				                  	<span class="form-group" style="color:white; font-family:helvetica; font-size:18px;">
              							{{form.question5 (class_="radiobutton" )}}
           							</span>
           						</div>

				                <div class="form-group col-md-12" align="left">
			                    	{{ form.submit(class_="btn btn-sm btn-outline-inverse") }}
			                    </div>
			                </div>    
			         	</form>
			        </center>
          		</div>
          	</div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

{% endblock %}